@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins&display=swap');
@font-face {
  font-family: 'Circular Std';
  src: url(/src/fonts/circular-std-medium-500.ttf);
}
:root {
  --bg-color: white;
  --blue: #faa916;
}
html {
  font-family: 'Circular Std', sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #32325d;
}

span {
  color: #623cea;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: white;
}

p {
  font-size: 1rem;
}

.img {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.stats {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #623cea;
  border-radius: 50px;
  color: white;
}
.lives,
.score {
  font-size: 1.5rem;
}

.display,
.qoutes {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--blue);
}

.keyboard > button {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85em;
  background-color: #eee;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  padding: 15px;
  margin: 5px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: clamp(350px, 50%, 500px);
}

.keyboard > .valid {
  background-color: #faa916;
  color: #333;
}

.keyboard > .invalid {
  color: #eee;
  background-color: red;
}

.game-buttons > button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  padding: 30px;
  background-color: #623cea;
  color: white;
}
